@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Roboto&display=swap');
body{
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Hubballi';
    font-size: 1.3em;
}
header p{
    text-align: right;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

input{
    margin-top: 40px;
    font-size: large;
    padding: 15px;
    border-radius: 7px;
}
footer{
    margin-top: 30px;
}
div#cartas{
    text-align: center;
}
div#Jogador, div#Maquina{
    display: inline-block;
    width: 300px;
    height: 438px;
    background-image: url('imagens/carta1.jpg');
    background-repeat: no-repeat;
    text-align: center;
    margin-right: 30px;
}
div.img{
    width: 230px;
    height: 240px;
    margin-left: 35px;
}
p.atributos{
    color: black;
    width: 260px;
    height: 80px;
    margin-left: 20px;
    font-weight: bolder;
}
div#att{
    margin-top: 50px;
}